@font-face {
    font-family: "Red Hat Display", sans-serif;
    src: url('/static/fonts/RedHatDisplay.ttf') format('truetype');
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.text-green {
    color: rgb(21, 224, 177);
}